.main-title {
  font-family: monospace;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #1AB69D !important;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-pills li::before {
  margin-left: auto;
}

.nav-pills li::after,
.nav-pills li::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #1AB69D; 
  display: block;
  transition: 1.9s ease;
}

.nav-pills li:hover::after{
  width: 100%;
}

.nav-pills .nav-link:hover {
  color: #1AB69D !important;    /* Matches the underline color perfectly */
}

.submit {
  background-color: rgba(219, 223, 98, 0.95) !important;
  font-weight: bolder !important;
  color: white !important;
  transition: all 0.3s ease !important;
}

.submit:hover {
  color: white !important;
  background-color: rgba(208, 212, 94, 0.95) !important;

}