
.main-title {
  font-family: monospace;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #397067;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.nav-pills li::before{
    margin-left: auto;
}

.nav-pills li::after, .nav-pills li::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #13241e88;
  display: block;
  transition: 1.5s;
}

.nav-pills li:hover::after{
  width: 100%;
}
.nav-pills .nav-link:hover {
  color: #2f554fd2 !important;
}
.submit{
  background-color: rgba(219, 223, 98, 0.85) !important;
  font-weight:bolder;
  color: rgb(255, 255, 255) !important;
  
}
.submit:hover{
  background-color: rgb(190, 147, 56) !important;
  color: white !important;
  box-shadow: 0 4px 6px rgba(10, 10, 17, 0.72)
}