.dash-container {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto; /* ensure vertical scroll */
}


.dash-icon {
  margin-right: 10px;
}
/* Main layout: 2 columns */
.dash-layout {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Left = 50%, Right = 50% */
.dash-left,
.dash-right {
  flex: 1;              /* divides page in half */
  display: flex;
  flex-direction: column;
  gap: 20px;            /* space between cards/charts */
}

/* Cards container stays row-based */
.dash-cards {
  display: flex;
  flex-wrap: wrap;       /* prevents overflow */
  gap: 15px;
}

/* Box around charts */
.dash-box {
  background: #fff;
  padding: 10px;
  
}






/* Responsive */
@media (max-width: 768px) {
  .dash-layout {
    flex-direction: column;
  }

  .dash-right {
    max-width: 100%;
  }

  .dash-cards > * {
    min-width: 100%;
  }
}
